// https://9elements.com/blog/css-border-radius/

// 60% 40% 30% 70% / 60% 30% 70% 40%

@mixin ibr() {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

$green: #5e6d47;
$blue: #4b5465;
$yellow: #edc70b;
$yellow-dark: #c09110;
$yellow-light: #fae57c;
$brown: #85640a;
$brown-dark: #85640a;
$red: #ff0000;
$red-light: #da5234;
$red-dark: #9f3029;
$eye: #eeebc2;
$eye-dark: #b0ac87;
$blk: #000105;
$white: #fffffe;
$shadow: #bbc5d5;

$bg: #222222;
$bg: #ccc;

* {
  box-shadow: inset 0 0 0 1px red;
}

// html {
//   zoom: 60%;
// }

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  flex: 1;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 422px;
  height: 800px;
  // background: url('./mrbeachzombie.png') center 100% no-repeat / contain;
  position: relative;
}

.head {
  height: 405px;
}

.crown {
  position: absolute;
  width: 210px;
  height: 63px;
  left: 129px;
  z-index: 1;

  &__peak-1-cap {
    position: absolute;
    background-color: $yellow;
    height: 10px;
    width: 35px;
    border-radius: 100%;
    left: 21px;
    top: 6px;
    box-shadow: 0 -4px 0 0 $blk;
  }

  &__peak-1-depth {
    position: absolute;
    background-color: $blk;
    height: 45px;
    width: 34px;
    left: 56px;
    top: 11px;
    clip-path: polygon(0% 0%, 41% 0, 101% 100%, 43% 100%);
    border-top: 3px solid #000105;
    transform: skewY(16deg);
    border-top: 3px solid $blk;
    border-top-right-radius: 31px;

    &::before {
      content: '';
      position: absolute;
      background-color: $yellow-dark;
      height: 47px;
      width: 38px;
      clip-path: polygon(11% 0%, 30% 0, 78% 100%, 43% 100%);
      border-top-right-radius: 36px;
    }
  }

  &__peak-1 {
    background-color: $blk;
    position: absolute;
    width: 72px;
    height: 56px;
    clip-path: polygon(24% 0%, 84% 0%, 100% 100%, 2% 100%);
    left: 0px;
    top: 8px;
    border-top-left-radius: 24px;

    &::before {
      content: '';
      background-color: $yellow;
      position: absolute;
      width: 63px;
      height: 54px;
      clip-path: polygon(24% 0%, 79% 0%, 100% 100%, 0% 100%);
      left: 6px;
      top: 3px;
    }
  }

  &__peak-2-cap {
    position: absolute;
    background-color: $yellow;
    height: 10px;
    width: 30px;
    border-radius: 100%;
    left: 131px;
    top: 6px;
    box-shadow: 0 -4px 0 0 $blk;
  }

  &__peak-2 {
    background-color: $blk;
    position: absolute;
    width: 81px;
    height: 56px;
    clip-path: polygon(31% 0%, 76% 0%, 100% 100%, 2% 100%);
    left: 103px;
    top: 8px;

    &::before {
      content: '';
      background-color: $yellow;
      position: absolute;
      width: 71px;
      height: 54px;
      clip-path: polygon(31% 0%, 74% 0%, 100% 100%, 0% 100%);
      left: 6px;
      top: 3px;
    }
  }

  &__peak-rear-cap {
    position: absolute;
    background-color: $brown;
    height: 10px;
    width: 35px;
    border-radius: 100%;
    left: 85px;
    top: 21px;
    box-shadow: 0 -3px 0 0 $blk;
  }

  &__peak-rear {
    background-color: $blk;
    position: absolute;
    width: 54px;
    height: 41px;
    clip-path: polygon(21% 0%, 92% 0%, 102% 100%, -5% 100%);
    left: 72px;
    top: 22px;

    &::before {
      content: '';
      background-color: $brown;
      position: absolute;
      width: 71px;
      height: 40px;
      clip-path: polygon(30% 0%, 74% 0%, 100% 100%, 15% 100%);
      left: -7px;
    }
  }

  &__peak-divider {
    background-color: $blk;
    position: absolute;
    height: 5px;
    width: 42px;
    top: 60px;
    left: 68px;
    transform: scaleX(-1) rotate(0deg);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  &__peak-right {
    background-color: $yellow;
    position: absolute;
    height: 50px;
    width: 20px;
    right: 7px;
    top: 12px;
    transform: skew(7deg);
    box-shadow: 4px 0 0 0 $blk;
  }

  &__peak-right-cap {
    position: absolute;
    background-color: $yellow;
    height: 10px;
    width: 20px;
    border-radius: 100%;
    left: 180px;
    top: 8px;
    box-shadow: 4px -2px 0 0 $blk;
  }

  &__peak-right-depth {
    position: absolute;
    background-color: $blk;
    height: 54px;
    width: 34px;
    left: 164px;
    top: 6px;
    clip-path: polygon(0% 0%, 41% 0, 101% 100%, 43% 100%);
    border-top: 3px solid #000105;
    transform: scaleX(-1) skewX(-6deg);

    &::before {
      content: '';
      position: absolute;
      background-color: $yellow-dark;
      height: 50px;
      width: 38px;
      clip-path: polygon(11% 0%, 30% 0, 78% 100%, 43% 100%);
      border-top-right-radius: 36px;
    }
  }
}

.face-patch {
  position: absolute;
  background-color: $yellow-light;
  width: 64px;
  height: 31px;
  border-radius: 60% 44% 30% 71% / 60% 30% 75% 40%;
  top: 51px;
  left: 131px;
  transform: scale(-1) rotate(-14deg) skewX(0deg);
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    background-color: $yellow-light;
    width: 48px;
    height: 30px;
    top: -20px;
    left: 21px;
    border-radius: 60% 40% 6% 100% / 60% 40% 85% 40%;
    transform: rotate(-4deg);
  }

  &::after {
    background-color: $yellow-light;
    position: absolute;
    content: '';
    width: 32px;
    height: 45px;
    top: -31px;
    left: 43px;
    transform: rotate(29deg);
    border-radius: 60% 30% 0% 60% / 60% 30% 75% 40%;
  }
}

.face-lift-up {
  position: relative;
  z-index: 1;
}

.face {
  background-color: $blk;
  position: absolute;
  width: 252px;
  height: 245px;
  top: 62px;
  left: 95px;
  clip-path: polygon(
    14% 0,
    97% 0,
    98% 44%,
    98% 50%,
    99% 97%,
    0% 96%,
    7% 60%,
    1% 58%,
    8% 25%
  );

  &::before {
    content: '';
    background-color: $yellow;
    position: absolute;
    width: 254px;
    height: 237px;
    left: 3px;
    clip-path: polygon(
      14.8% 0,
      94% 0,
      94.5% 44%,
      96% 100%,
      97% 100%,
      0% 100%,
      7% 60%,
      2% 58%,
      8% 25%
    );
  }

  &__splat {
    background-color: $yellow-light;
    position: absolute;
    height: 25px;
    width: 33px;
    left: 78px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 67px;
    transform: rotate(-51deg);
  }

  &__splat-ring {
    position: absolute;
    background-color: #fae57c;
    height: 20px;
    width: 14px;
    top: 61px;
    left: 42px;
    border-radius: 100%;
    transform: rotate(21deg);

    &::after {
      content: '';
      width: 10px;
      height: 16px;
      border: 2px solid $blk;
      border-radius: 100%;
      transform: rotate(7deg);
      position: absolute;
      left: 3px;
    }
  }

  &__mark {
    position: absolute;
    background-color: $blk;
    height: 7px;
    width: 11px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    left: 109px;
    top: 69px;
    transform: rotate(-72deg);

    &::after {
      content: '';
      position: absolute;
      background-color: $yellow;
      width: 6px;
      height: 5px;
      border-radius: 100%;
      left: 6px;
      top: 1px;
    }
  }

  &__mark-1 {
    position: absolute;
    background-color: $blk;
    height: 7px;
    width: 11px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    left: 68px;
    top: 56px;
    transform: rotate(-20deg);

    &::after {
      content: '';
      position: absolute;
      background-color: $yellow;
      width: 7px;
      height: 4px;
      border-radius: 100%;
      left: 3px;
    }
  }

  &__mark-2 {
    position: absolute;
    background-color: $blk;
    width: 11px;
    height: 4px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 62px;
    left: 159px;
    transform: rotate(-21deg);
  }
}

.left-eye {
  position: absolute;
  height: 134px;
  width: 107px;
  top: 153px;
  left: 78px;

  &__green-circle {
    background-color: $green;
    position: absolute;
    width: 79px;
    height: 117px;
    border-radius: 71% 65% 92% 43% / 31% 70% 64% 91%;
    left: 24px;
  }

  &__green-circle-detail {
    background-color: $green;
    position: absolute;
    width: 38px;
    height: 10px;
    border-radius: 100%;
    top: 17px;
    left: 58px;
    transform: rotate(39deg);
    box-shadow: inset 0 3px 0 $blk;
  }

  &__sclera {
    background-color: $eye;
    position: absolute;
    width: 97px;
    height: 88px;
    top: 25px;
    left: 2px;
    border: 4px solid $blk;
    border-radius: 44% 45% 54% 48% / 52% 37% 70% 40%;
    box-shadow: inset -5px -10px 0 $eye-dark;
  }

  &__highlight {
    background-color: $white;
    position: absolute;
    width: 16px;
    height: 7px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 44px;
    left: 10px;
    transform: rotate(-54deg);
  }

  &__highlight-2 {
    background-color: $white;
    position: absolute;
    width: 12px;
    height: 7px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 38px;
    left: 19px;
    transform: scaleX(-1) rotate(21deg);
  }

  &__iris {
    background-color: $red;
    position: absolute;
    height: 15px;
    width: 8px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 43px;
    left: 25px;
    border: 4px solid $blk;
    transform: rotate(40deg);
    box-shadow: 0 0 14px 0 $red;
  }

  &__bags {
    background-color: $blue;
    position: absolute;
    height: 37px;
    width: 65px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 92px;
    left: 34px;
    transform: scale(-1) rotate(-17deg);
    box-shadow: -2px -3px 0 1px $blk;
  }

  &__bags-2 {
    background-color: $blue;
    position: absolute;
    height: 14px;
    width: 34px;
    border-radius: 46%;
    top: 111px;
    left: 20px;
    box-shadow: -4px 2px 0 0 $blk;
  }

  &__bags-3 {
    background-color: $blue;
    position: absolute;
    height: 10px;
    width: 34px;
    border-radius: 46%;
    top: 120px;
    left: 27px;
    box-shadow: -1px 2px 0 1px $blk;
  }
}

.right-eye {
  position: absolute;
  height: 146px;
  width: 124px;
  top: 146px;
  right: 86px;

  &__green-circle {
    background-color: $green;
    width: 119px;
    height: 117px;
    border-radius: 63% 68% 48% 51% / 59% 65% 72% 81%;
    position: absolute;
  }

  &__green-circle-detail {
    background-color: $green;
    position: absolute;
    width: 38px;
    height: 10px;
    border-radius: 100%;
    top: 26px;
    left: 16px;
    transform: rotate(-26deg);
    box-shadow: inset 0 3px 0 $blk;
  }

  &__sclera {
    background-color: $eye;
    width: 107px;
    height: 95px;
    position: absolute;
    top: 28px;
    left: 8px;
    border-radius: 87% 68% 89% 82% / 87% 70% 100% 80%;
    border: 4px solid $blk;
    box-shadow: inset 0 -3px 0 2px $eye-dark, inset -6px -6px 0 2px $eye-dark;
  }

  &__iris {
    background-color: $red;
    position: absolute;
    width: 29px;
    height: 21px;
    top: 64px;
    left: 54px;
    border-radius: 82% 72% 48% 51% / 59% 83% 66% 77%;
    transform: rotate(-23deg);
    border: 4px solid $blk;
    box-shadow: 0 0 30px -2px $red;
  }

  &__pupil {
    background-color: $blk;
    position: absolute;
    width: 13px;
    height: 8px;
    top: 74px;
    left: 65px;
    border-radius: 200%;
    transform: rotate(-10deg);
  }

  &__highlight {
    background-color: $white;
    position: absolute;
    width: 25px;
    height: 11px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 48px;
    left: 20px;
    transform: rotate(-44deg);
  }

  &__highlight-2 {
    background-color: $white;
    position: absolute;
    width: 14px;
    height: 11px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    top: 42px;
    left: 35px;
    transform: scaleX(-1) rotate(10deg);
  }

  &__bags {
    background-color: $blue;
    position: absolute;
    height: 59px;
    width: 84px;
    top: 80px;
    left: 25px;
    border-radius: 100%;
    transform: rotate(-8deg);
    border: 3px solid $blk;
  }

  &__bags-2 {
    background-color: $blue;
    position: absolute;
    height: 47px;
    width: 86px;
    top: 77px;
    left: 33px;
    border-radius: 100%;
    transform: rotate(-7deg);
    border: 3px solid $blk;
  }

  &__bags-detail {
    background-color: $blue;
    position: absolute;
    width: 55px;
    height: 16px;
    border-radius: 100%;
    top: 121px;
    left: 29px;
    transform: scaleY(-1) rotate(-9deg);
    box-shadow: inset 0 2px 0 $blk;
  }
}

.mouth {
  position: absolute;
  width: 254px;
  height: 108px;
  top: 297px;
  left: 94px;

  &__inner {
    position: absolute;
    background-color: $red-light;
    @include ibr;
    width: 50px;
    height: 32px;
    top: 5px;
    left: 119px;
    transform: scale(-1) rotate(-181deg);
    box-shadow: 0px 0px 0px 4px $blk, inset -3px 19px 0px -7px $red-dark;
  }

  &__inner1 {
    position: absolute;
    background-color: $red-light;
    @include ibr;
    width: 57px;
    height: 17px;
    top: 11px;
    left: 78px;
    transform: scale(-1) rotate(-181deg);
    box-shadow: 0px 0px 0px 4px $blk, inset 8px 11px 0px 2px $red-dark;
  }

  &__blank {
    position: absolute;
    background-color: $red-light;
    @include ibr;
    width: 35px;
    height: 25px;
    top: 6px;
    left: 112px;
    transform: rotate(-174deg);
    box-shadow: inset 0px -6px 0px 0px $red-dark;
  }

  &__chin {
    position: absolute;
    background-color: $yellow;
    width: 108px;
    height: 68px;
    top: 40px;
    left: 76px;

    &::before {
      content: '';
      position: absolute;
      width: 102px;
      height: 104px;
      background-color: $bg;
      left: -51px;
      top: 10px;
      transform: rotate(77deg);
      @include ibr;
      box-shadow: -11px -14px 0px -13px $blk, 5px -3px 0px 2px $blk;
    }

    &::after {
      content: '';
      position: absolute;
      width: 57px;
      height: 95px;
      background-color: $bg;
      left: 87px;
      top: 8px;
      transform: rotate(60deg);
      @include ibr;
      box-shadow: -24px 4px 0px -21px $blk, -11px 5px 0px -7px $blk;
    }
  }

  &__right {
    position: absolute;
    background-color: $yellow;
    @include ibr;
    width: 110px;
    height: 86px;
    top: -24px;
    left: 140px;
    transform: scale(-1) rotate(-11deg);
    box-shadow: 0px 0px 0px 4px $blk;
  }

  &__left {
    position: absolute;
    background-color: $yellow;
    border-radius: 378% 73% 23% 70% / 143% 30% 70% 40%;
    width: 143px;
    height: 86px;
    top: -61px;
    left: 7px;
    transform: scale(-1) rotate(-3deg) skew(-9deg);
    box-shadow: 0px 0px 0px 4px $blk;
  }

  &__lip {
    position: absolute;
    background-color: $yellow;
    border-radius: 200px;
    width: 49px;
    height: 18px;
    top: 31px;
    left: 58px;
    transform: rotate(-6deg) skew(6deg);
    box-shadow: 0px 0px 0px 4px $blk;
  }

  &__lip-blank {
    position: absolute;
    background-color: $yellow;
    border-radius: 200px;
    width: 43px;
    height: 20px;
    top: 33px;
    left: 95px;
    transform: rotate(12deg);
    box-shadow: 0px -8px 0px -5px $blk;
  }
}

.body {
  position: absolute;
  width: 140px;
  height: 179px;
  top: 404px;
  left: 212px;

  &__trunk {
    position: absolute;
    background-color: $yellow;
    height: 30px;
    width: 93px;
    top: 158px;
    left: 24px;
    box-shadow: 0px 0px 0px 3px $blk;
  }

  &__tear {
    position: absolute;
    top: 159px;
    left: -4px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $blk;

    &::after {
      content: '';
      top: -20px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 20px solid transparent;
      border-top: 15px solid #edc70b;
      position: absolute;
    }
  }

  &__tear1 {
    position: absolute;
    top: 159px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 36px solid transparent;
    border-top: 20px solid $blk;

    &::after {
      content: '';
      top: -20px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 34px solid transparent;
      border-top: 17px solid $yellow;
      position: absolute;
    }
  }

  &__tear2 {
    position: absolute;
    top: 159px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 36px solid transparent;
    border-top: 20px solid $blk;

    &::after {
      content: '';
      top: -20px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 34px solid transparent;
      border-top: 17px solid $yellow;
      position: absolute;
    }
  }

  &__tear3 {
    position: absolute;
    top: 159px;
    left: 54px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 36px solid transparent;
    border-top: 20px solid $blk;
    transform: scaleX(-1);

    &::after {
      content: '';
      top: -20px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 34px solid transparent;
      border-top: 17px solid $yellow;
      position: absolute;
    }
  }

  &__tear4 {
    position: absolute;
    top: 164px;
    left: 95px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid #000105;
    transform: scaleX(-1) rotate(20deg);

    &::after {
      content: '';
      top: -16px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 8px solid transparent;
      border-top: 13px solid #edc70b;
      position: absolute;
    }
  }

  &__tear5 {
    position: absolute;
    top: 142px;
    left: 110px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $blk;
    transform: rotate(-65deg);

    &::after {
      content: '';
      top: -22px;
      left: -11px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 20px solid transparent;
      border-top: 15px solid $yellow-dark;
      position: absolute;
    }
  }

  &__front {
    position: absolute;
    background-color: $bg;
    height: 154px;
    width: 49px;
    border-radius: 100%;
    left: -37px;
    top: 12px;
    box-shadow: 4px 0px 0px 0px $blk;
    transform: rotate(-6deg);
  }

  &__chest {
    position: absolute;
    background-color: $yellow;
    height: 163px;
    width: 100px;

    &::before {
      content: '';
      position: absolute;
      background-color: $bg;
      width: 49px;
      height: 66px;
      right: 0;
    }
  }

  &__back {
    position: absolute;
    background-color: $yellow;
    height: 196px;
    width: 57px;
    border-radius: 100%;
    right: 32px;
    transform: rotate(-23deg);
    top: -8px;
    box-shadow: 3px 0px 0px 0px $blk, inset -15px 1px 0px 5px $yellow-dark;
  }
}

.arm-right {
  position: absolute;
  top: 409px;
  height: 80px;
  width: 223px;

  &__upper {
    background-color: $yellow-dark;
    position: absolute;
    height: 11px;
    width: 94px;
    left: 134px;
    top: 9px;
    border: 3px solid #000105;
    transform: skewX(38deg) rotate(-8deg);
    box-shadow: inset 0px 7px 0 0px $yellow;
  }

  &__lower {
    background-color: $yellow-dark;
    position: absolute;
    height: 13px;
    width: 82px;
    left: 67px;
    top: 13px;
    border: 3px solid $blk;
    transform: rotate(1deg);
    z-index: 1;
    border: {
      left: 0;
      right: 0;
    }
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 8px 0 0px $yellow;
  }

  &__stump {
    position: absolute;
    background-color: $red-dark;
    height: 14px;
    width: 10px;
    border: 3px solid $blk;
    border-radius: 100%;
    top: 12px;
    left: 60px;
    transform: skewX(4deg);
    z-index: 2;
  }
}

.arm-left {
  position: absolute;
  top: 411px;
  height: 117px;
  width: 252px;
  left: 41px;

  &__upper {
    background-color: $yellow-dark;
    position: absolute;
    position: absolute;
    height: 14px;
    width: 94px;
    right: 0px;
    top: 11px;
    border-radius: 10px;
    border: 3px solid $blk;
    transform: rotate(-17deg);
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
    box-shadow: inset 0px 9px 0 0px $yellow;
  }

  &__lower {
    background-color: $yellow-dark;
    position: absolute;
    height: 14px;
    width: 103px;
    left: 67px;
    border-radius: 10px;
    top: 29px;
    border: 3px solid $blk;
    transform: rotate(-6deg);
    z-index: 1;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 9px 0 $yellow;
  }

  &__hand {
    background-color: $yellow;
    position: absolute;
    height: 38px;
    width: 75px;
    top: 38px;
    left: 0px;
    border: 3px solid $blk;
    border-radius: 42% 40% 30% 70% / 60% 30% 70% 40%;
    transform: rotate(-14deg);
    box-shadow: inset 0 -7px 0 5px $yellow-dark;
  }

  &__hand-inner {
    background-color: $yellow;
    position: absolute;
    height: 28px;
    width: 44px;
    top: 51px;
    left: 4px;
    border-radius: 42% 37% 30% 52% / 83% 51% 60% 46%;
    transform: rotate(-3deg);
  }

  &__hand-spot {
    position: absolute;
    height: 9px;
    width: 13px;
    top: 55px;
    left: 39px;
    border-radius: 42% 40% 30% 70% / 60% 30% 70% 40%;
    border: 1px solid $blk;
  }

  &__hand-spot-1 {
    position: absolute;
    height: 4px;
    width: 6px;
    top: 43px;
    left: 46px;
    border-radius: 42% 40% 30% 70% / 60% 30% 70% 40%;
    border: 1px solid $blk;

    &::before {
      content: '';
      position: absolute;
      background-color: $yellow;
      border-radius: 42% 40% 30% 70% / 60% 30% 70% 40%;
      height: 6px;
      width: 6px;
      top: -3px;
    }
  }

  &__finger-1 {
    position: absolute;
    background-color: $yellow;
    height: 20px;
    width: 8px;
    top: 75px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid $blk;
    border-top: 0;
    transform: rotate(18deg);
  }

  &__finger-1a {
    position: absolute;
    background-color: $yellow;
    height: 20px;
    width: 8px;
    top: 89px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border: 2px solid $blk;
    border-top: 0;
    transform: rotate(-6deg);
  }

  &__finger-2 {
    position: absolute;
    background-color: $yellow;
    height: 20px;
    width: 8px;
    top: 79px;
    left: 22px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid $blk;
    border-top: 0;
  }

  &__finger-2a {
    position: absolute;
    background-color: $yellow;
    height: 21px;
    width: 8px;
    top: 94px;
    left: 24px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid $blk;
    border-top: 0;
    transform: rotate(-11deg);
  }

  &__finger-3 {
    position: absolute;
    background-color: $yellow-dark;
    height: 20px;
    width: 8px;
    top: 76px;
    left: 41px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid $blk;
    border-top: 0;
  }

  &__finger-3a {
    position: absolute;
    background-color: $yellow-dark;
    height: 18px;
    width: 8px;
    top: 92px;
    left: 47px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 9px;
    border: 2px solid $blk;
    border-top: 0;
    transform: rotate(-31deg);
  }

  &__thumb {
    background-color: $yellow;
    position: absolute;
    height: 10px;
    width: 30px;
    top: 62px;
    left: -16px;
    border: 3px solid $blk;
    border-radius: 42% 40% 30% 70% / 60% 30% 70% 40%;
    transform: rotate(-46deg);
    box-shadow: inset -13px -4px 0 0px $yellow-dark;
  }
}
/* -------------------------------
 SHORTS
------------------------------- */
.shorts {
  position: absolute;
  width: 121px;
  height: 116px;
  top: 583px;
  left: 223px;
  // opacity: 0.8;
  z-index: 3;

  &__pelvis {
    position: absolute;
    background-color: $yellow-dark;
    width: 76px;
    height: 36px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scaleY(-1) rotate(-17deg);
    left: 3px;
    top: 7px;
    box-shadow: -2px -2px 0px 1px $blk;
    z-index: 2;
  }

  &__pelvis-a {
    position: absolute;
    background-color: $yellow-dark;
    width: 70px;
    height: 21px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    left: 53px;
    transform: rotate(137deg);
    top: 13px;
    box-shadow: -2px -2px 0px 1px $blk, inset 21px 9px 0px -4px $brown;
    z-index: 2;
  }

  &__pelvis-b {
    position: absolute;
    background-color: $yellow-dark;
    width: 78px;
    height: 40px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scaleY(-1) rotate(-5deg);
    left: 23px;
    top: 6px;
    box-shadow: -2px -2px 0px 4px $blk;
  }

  &__pelvis-c {
    position: absolute;
    background-color: $yellow-dark;
    width: 42px;
    height: 12px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scaleY(-1) rotate(-17deg);
    left: 5px;
    top: 4px;
    box-shadow: -2px 0px 0px 2px $blk;
  }

  &__pelvis-d {
    position: absolute;
    background-color: $yellow-dark;
    width: 36px;
    height: 12px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scaleY(-1) rotate(22deg);
    left: 78px;
    top: 0px;
    box-shadow: 2px 1px 0px 1px $blk;
  }

  &__rim {
    position: absolute;
    background-color: transparent;
    width: 94px;
    height: 16px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: rotate(1deg);
    left: 6px;
    top: -3px;
    box-shadow: 0px 3px 0px -1px #000105;
    z-index: 2;
  }

  &__left-leg {
    position: absolute;
    background-color: $brown;
    height: 100px;
    width: 43px;
    left: 14px;
    border-radius: 100%;
    transform: rotate(14deg);
    top: 10px;
    z-index: 1;
    box-shadow: -3px 3px 0px 0px $blk, inset 9px 0 0px 4px $yellow-dark;

    &::before {
      content: '';
      position: absolute;
      background-color: $bg;
      height: 100px;
      width: 43px;
      left: 21px;
      border-radius: 100%;
      transform: rotate(-15deg);
      top: 10px;
      box-shadow: -1px -6px 0px 2px $blk;
    }
  }

  &__right-leg {
    position: absolute;
    background-color: $brown;
    height: 100px;
    width: 43px;
    left: 58px;
    border-radius: 100%;
    transform: rotate(5deg);
    top: 10px;
    z-index: 1;
    box-shadow: -3px 3px 0px 0px $blk, inset 9px 0px 0px 0px $yellow-dark;

    &::before {
      content: '';
      position: absolute;
      background-color: $bg;
      height: 100px;
      width: 43px;
      left: 21px;
      border-radius: 100%;
      transform: rotate(-10deg);
      top: 10px;
      box-shadow: -3px -5px 0px 0px $blk;
    }
  }
}

.legs {
  position: absolute;
  width: 119px;
  height: 159px;
  top: 583px;
  left: 224px;

  &__left {
    background-color: transparent;
    position: absolute;
    top: 34px;
    left: 15px;
    height: 114px;
    width: 34px;
    z-index: 1;

    &::before {
      content: '';
      background-color: $yellow;
      position: absolute;
      height: 114px;
      width: 50px;
      top: 4px;
      border-radius: 100%;
      box-shadow: -3px 0px 0px 0px $blk;
    }

    &::after {
      content: '';
      background-color: $bg;
      position: absolute;
      height: 133px;
      width: 83px;
      left: 13px;
      border-radius: 100%;
      top: -11px;
      transform: rotate(-4deg);
      box-shadow: -3px 2px 0px 0px $blk;
    }
  }

  &__right {
    background-color: transparent;
    position: absolute;
    top: 37px;
    left: 68px;
    height: 114px;
    width: 43px;
    z-index: 2;

    &::before {
      content: '';
      background-color: $yellow;
      position: absolute;
      height: 138px;
      width: 64px;
      border-radius: 100%;
      box-shadow: -3px 0px 0px 0px #000105;
      transform: rotate(-8deg);
    }

    &::after {
      content: '';
      background-color: $bg;
      position: absolute;
      height: 151px;
      width: 98px;
      left: 13px;
      border-radius: 100%;
      top: -9px;
      transform: rotate(-12deg);
      box-shadow: -3px 0px 0px 0px #000105;
    }
  }
}

.feet {
  position: absolute;
  height: 64px;
  width: 155px;
  top: 730px;
  left: 188px;

  &__right {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    width: 83px;
    height: 30px;
    left: 64px;
    transform: rotate(-20deg) scaleY(-1);
    top: 23px;
    box-shadow: 0px 0px 0px 2px $blk;
  }

  &__right-heel {
    position: absolute;
    background-color: $yellow;
    border-radius: 50%;
    width: 36px;
    height: 29px;
    left: 119px;
    top: 10px;
    box-shadow: 2px 0px 0px 1px $blk;
    z-index: 2;
  }

  &__right-toe-box {
    position: absolute;
    background-color: $yellow;
    height: 19px;
    width: 39px;
    top: 34px;
    left: 76px;
    transform: rotate(3deg) skew(-58deg, 10deg);
  }

  &__right-little-toe {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 5px;
    width: 5px;
    top: 32px;
    left: 2px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__right-toe-2 {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 9px;
    width: 9px;
    top: 31px;
    left: 6px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__right-toe-3 {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 12px;
    width: 13px;
    top: 31px;
    left: 14px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__right-big-toe {
    border-radius: 100%;
    position: absolute;
    background-color: $yellow;
    height: 15px;
    width: 16px;
    top: 31px;
    left: 25px;
    box-shadow: -2px 1px 0px 1px $blk;
    transform: rotate(-40deg);
  }
  ///
  &__left {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    width: 88px;
    height: 29px;
    left: 7px;
    transform: rotate(-20deg) scaleY(-1);
    top: 9px;
    box-shadow: 0px 0px 0px 2px black;
  }

  &__left-heel {
    position: absolute;
    background-color: $yellow;
    border-radius: 50%;
    width: 34px;
    height: 26px;
    left: 62px;
    top: -2px;
    box-shadow: 2px 0px 0px 1px $blk;
    z-index: 2;
  }

  &__left-toe-box {
    position: absolute;
    background-color: $yellow;
    height: 19px;
    width: 38px;
    top: 21px;
    left: 16px;
    transform: rotate(3deg) skew(-58deg, 10deg);
  }

  &__left-little-toe {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 6px;
    width: 6px;
    top: 46px;
    left: 60px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__left-toe-2 {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 9px;
    width: 9px;
    top: 46px;
    left: 64px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__left-toe-3 {
    @include ibr;
    position: absolute;
    background-color: $yellow;
    height: 13px;
    width: 14px;
    top: 45px;
    left: 72px;
    box-shadow: -1px 1px 0px 1px $blk;
  }

  &__left-big-toe {
    border-radius: 100%;
    transform: rotate(-40deg);
    position: absolute;
    background-color: $yellow;
    height: 15px;
    width: 16px;
    top: 46px;
    left: 83px;
    box-shadow: -2px 1px 0px 1px $blk;
  }
}
